@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(fonts/HTx3L3I-JCGChYJ8VI-L6OO_au7B2xY.woff2) format('woff2');
}
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(fonts/HTxwL3I-JCGChYJ8VI-L6OO_au7B4873_3E.woff2) format('woff2');
}
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(fonts/HTxwL3I-JCGChYJ8VI-L6OO_au7B46r2_3E.woff2) format('woff2');
}
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(fonts/HTxwL3I-JCGChYJ8VI-L6OO_au7B47b1_3E.woff2) format('woff2');
}

@font-face {
  font-family: 'Figtree';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(fonts/_Xm9-HUzqDCFdgfMm4GnA4aZFrUvtOK3A7YdyEU.woff2) format('woff2');
}
@font-face {
  font-family: 'Figtree';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(fonts/_Xmz-HUzqDCFdgfMsYiV_F7wfS-Bs_d_QF5e.woff2) format('woff2');
}
@font-face {
  font-family: 'Figtree';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(fonts/_Xmz-HUzqDCFdgfMsYiV_F7wfS-Bs_dNQF5e.woff2) format('woff2');
}
@font-face {
  font-family: 'Figtree';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(fonts/_Xmz-HUzqDCFdgfMsYiV_F7wfS-Bs_ehR15e.woff2) format('woff2');
}
